.bottom-navbar {
    background-color: #609e6d;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px;
    max-width: 100%;
}

.bottom-navbar i {
    color: white;
    display: block;
    text-align: center;
}

.bottom-navbar a {
    display: block;
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.bottom-navbar a:active {
    background-color: white;
    color: #609e6d;
}